.container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 1rem 0;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
