.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--article-bg);
  border-radius: 5px;
  padding: 1rem;
}

.card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card p {
  margin-bottom: 1.25rem;
}

.title {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats div {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.stats > div:nth-child(2) {
  margin-right: 0;
}

.icon {
  color: var(--accent-color);
  margin-right: 0.3rem;
}

@media screen and (max-width: 600px) {
  .card {
    padding: 0.8rem;
  }
  .card p {
    margin-bottom: 1rem;
    font-size: 0.85rem;
    line-height: 1.4;
  }
  .title {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
  .stats {
    font-size: 0.85rem;
  }
}
