.tabs {
  display: flex;
  background: var(--tabs-bg);
  overflow-x: auto;
  flex: 1;
}

.tabs::-webkit-scrollbar {
  height: 0px;
}

@media screen and (max-width: 900px) {
  .tabs {
    width: calc(100vw - 8vw - 20vw);
  }
}

@media screen and (max-width: 600px) {
  .tabs {
    width: calc(100vw - 50px);
  }
}
